@keyframes dissapear {
  from {
    display: flex;
  }

  to {
    display: none;
  }
}

.keyboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.keyboardContainer.gameOver {
  animation: dissapear 0.2s ease-in forwards;
  animation-delay: 1.5s;
}

.keyboardRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.keyboardKey {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 20px;
  min-height: 30px;
  padding: 20px;

  background-color: var(--backgroundGrey);
  border: 1px solid var(--backgroundGrey);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
}

.keyboardKey.block {
  background-color: var(--backgroundGreyDark);
  border: 1px solid var(--backgroundGreyDark);
}

.mobileKeyboardContainer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 280px;
}

@media only screen and (max-width: 1400px) {
  .keyboardContainer {
    gap: 8px;
  }

  .keyboardRow {
    gap: 10px;
  }

  .keyboardKey {
    min-width: 16px;
    min-height: 24px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  /* .keyboardContainer {
    display: none;
    gap: 7px;
  } */

  .mobileKeyboardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }

  .keyboardRow {
    gap: 5px;
    justify-content: space-evenly;
  }

  .keyboardKey {
    min-width: calc(10vw - 12px);
    min-height: 60px;
    padding: 10px;
    font-size: 14px;
  }
}