.gameOverContainer {
  background-color: aquamarine;
  padding: 20px;
  min-height: 600px;
  min-width: 600px;
}

.gameOverClose {
  position: absolute;
  padding: 10px 12px;
  background-color: white;
  top: 22px;
  right: 22px;
  border: 0px;
  border-radius: 40px;
}
