.gameOverContainer {
  padding: 20px;
  min-height: 400px;
  min-width: 500px;
  margin-top: 12px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
}

.gameOverClose {
  position: absolute;
  padding: 10px 12px;
  background-color: transparent;
  top: 22px;
  right: 22px;
  border: 0px;
  border-radius: 40px;
}

.gameOverClose:hover {
  background-color: var(--backgroundGrey);
  cursor: pointer;
}

.gameWinner {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
}

.gameLoser {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
}

.gameOverNav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
}

.gameOverNav .navButtonHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.navButton {
  min-width: auto !important;
  width: calc(50% - 8px);
  height: 50px;
  border-radius: 20px;
  border: 1px solid var(--backgroundGreyDark);
}

.navButton.main {
  min-width: auto !important;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: 1px solid var(--backgroundGreyDark);
}

.navButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .gameOverContainer {
    min-height: 55vh;
    min-width: calc(80vw - 30px);

  }

  .gameOverClose {
    top: 26px;
    right: 10px;
  }
}