.htpContainer {
  position: relative;
  min-height: 600px;
  min-width: 600px;
}

.htpClose {
  position: absolute;
  padding: 10px 12px;
  background-color: white;
  top: 22px;
  right: 22px;
  border: 0px;
  border-radius: 40px;
}

.htpClose:hover {
  background-color: var(--backgroundGrey);
  cursor: pointer;
}

.innerHtp {
  height: calc(100% - 10px);
  width: calc(100% - 120px);
  position: absolute;
  top: 10px;
  left: 60px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.htpHead {
  font-family: "nyt-karnakcondensed";
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 30px;
  text-transform: none;
  text-align: left;
  margin-bottom: 4px;
  margin-top: 29px;
  display: block;
}

.htpContent {
  font-family: "nyt-karnak";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.htpContent ul {
  padding-inline-start: 20px;
}

@media only screen and (max-width: 768px) {
  .htpContainer {
    min-height: 600px;
    min-width: 320px;
  }

  .htpClose {
    top: 26px;
    right: 10px;
  }

  .innerHtp {
    height: calc(100% - 20px);
    width: calc(100% - 40px);
    left: 24px;
    gap: 10px;
  }
  .htpContent {
    font-size: 16px;
    line-height: 20px;
  }
}
