.htpContainer {
  max-height: 90vh;
  max-width: 600px;
  margin: 32px 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.htpClose {
  padding: 10px 12px;
  background-color: transparent;
  border: 0px;
  border-radius: 40px;
}

.htpClose:hover {
  background-color: var(--backgroundGrey);
  cursor: pointer;
}

.innerHtp {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  padding-right: 32px;
  padding-top: 12px;
}

.htpHead {
  font-family: "nyt-karnakcondensed";
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 30px;
  text-transform: none;
  text-align: left;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--backgroundGrey);
  padding-bottom: 8px;
}

.htpContent {
  font-family: "nyt-karnak";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.htpContent ul {
  padding-inline-start: 20px;
}

@media only screen and (max-width: 768px) {
  .htpContainer {
    min-height: 64vh;
    max-width: 86vh;
    margin: 8px 16px;
  }

  .htpHead {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0px;
    border-bottom: 1px solid var(--backgroundGrey);
    padding-bottom: 4px;
  }

  .innerHtp {
    gap: 10px;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .htpContent {
    font-size: 16px;
    line-height: 20px;
  }
}