.emptyWordHolder {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  text-transform: uppercase;
}

.emptyLetterBox {
  min-width: 54px;
  min-height: 50px;
  border: 2px solid var(--backgroundGreyDark);
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-family: "nyt-karnakcondensed";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: left;
}
