@keyframes shake {
  0% {
    transform: translate(5px, 0);
  }
  25% {
    transform: translate(-5px, 0);
  }
  50% {
    transform: translate(5px, 0);
  }
  75% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.shake {
  animation: shake 0.4s ease-in-out;
}

.emptyWordHolder {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  text-transform: uppercase;
}

.emptyLetterBox {
  min-width: 54px;
  min-height: 50px;
  border: 2px solid var(--backgroundGreyDark);
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-family: "nyt-karnakcondensed";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: left;
}

.emptyLetterBox.grey {
  color: white;
  background-color: #787c7e;
  border-color: #787c7e;
}
.emptyLetterBox.green {
  color: white;
  background-color: #6aaa64;
  border-color: #6aaa64;
}
.emptyLetterBox.yellow {
  color: white;
  background-color: #c9b458;
  border-color: #c9b458;
}
