.headerContainer {
  width: calc(100% - 80px);
  height: 64px;
  border-bottom: 1px solid var(--backgroundGrey);
  padding: 0px 40px;

  display: flex;
  justify-content: space-between;
}

.headerStart {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.headerLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.headerLogo:hover {
  cursor: pointer;
}

.headerLogo .headerIcon img {
  height: 40px;
  width: 40px;
}

.headerLogo h1 {
  font-size: 34px;
}

.headerContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerButton {
  height: 100%;
  padding: 1vw;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;

  font-size: large;
  font-weight: 700;
}

.headerButton:hover {
  cursor: pointer;
  background-color: var(--backgroundGrey);
  text-decoration: underline;
}

.headerButton:hover:disabled {
  background-color: transparent;
  text-decoration: none;
}

.onlyMobile {
  display: none;
}

.mobileNavContainer {
  margin: 16px 0;
  min-width: 240px;
}

.navHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  padding: 1vw;
  gap: 12px;
}

.navButtonList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  border-top: 1px solid var(--backgroundGreyDark);
}

.navBarButton {
  height: 100%;
  padding: 1vw;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--backgroundGreyDark);
}

.navBarButton:hover {
  cursor: pointer;
  background-color: var(--backgroundGrey);
}

@media only screen and (max-width: 768px) {

  .headerContainer {
    width: calc(100% - 32px);
    padding: 0px 16px;
  }

  .headerStart {
    width: 100%;
    justify-content: space-between;
  }

  .headerContent {
    display: none;
  }

  .onlyMobile {
    display: block;
  }

  .headerIcon img {
    height: 32px;
    width: 32px;
  }

  h1 {
    font-size: 24px;
  }
}